.titleAbout{
    text-align: center;
    margin-bottom: 70px;
    font-size: 5.5vw;
}
.video{
    max-width: 100%;
    margin-bottom: 70px;
}
.wrapperAboutList{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    position: relative;
    padding: 0 100px;
    margin: 0 auto 70px;
}
.wrapperAboutText1{
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 472px;
}
.textAbout{
    font-size: 22px;
}
.aboutIMG, .aboutIMG2, .aboutIMG3, .aboutIMG4{
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    width: 525px;
    height: 525px;
}
.wrapperImages1{
    display: flex;
}
.aboutIMG2{
    position: relative;
    right: 20%;
}
.wrapperAboutList2{
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 50px;
    padding: 0 100px;
    position: relative;
    margin-bottom: 70px;
}
.wrapperImages2{
    display: flex;
}
.wrapperAboutList2 .textAbout{
    max-width: 430px;
}
.aboutIMG4{
    position: relative;
    right: 20%;
}
.wrapperAboutList3{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    position: relative;
    gap: 50px;
}
.aboutBtn{
    font-size: 1vw;
}
.circles{
    display: flex;
    position: relative;
}
.textAboutWhite{
    width: 525px;
    height: 525px;
    border-radius: 50%;
    border: 1px solid #888164;
    padding: 69px 139px 69px 69px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: -120px;
}
.textAboutBrown{
    background-color: #888164;
    border-radius: 50%;
    width: 525px;
    height: 525px;
    padding: 69px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FCF8ED;
    position: relative;
    z-index: 2;
}